public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-*

public-hoist-pattern[]=any-observable
public-hoist-pattern[]=rxjs
